<?xml version="1.0" encoding="UTF-8" ?>
<!-- Copyright 2015-2019 the original author or authors. Licensed under the 
	Apache License, Version 2.0 (the "License"); you may not use this file except 
	in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mybatis.mapper">

	<resultMap id="postalcodeMap"
		type="com.example.demo.domain.Postalcode">
		<result property="id" column="id" />
		<result property="postalcode" column="postalcode" />
		<result property="suburbname" column="suburbname" />
	</resultMap>

	<select id="getAllPostalcodes" resultMap="postalcodeMap">
		SELECT *
		FROM postalcode
	</select>
	
	<select id="getSuburbnames" resultType="string">
		SELECT suburbname
		FROM postalcode
		where
		postalcode between #{from} and #{to}
		order by suburbname
	</select>

	<insert id="savePostalcode"
		parameterType="com.example.demo.domain.Postalcode"
		useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		INSERT INTO
		postalcode
		(postalcode,suburbname)
		values (#{postalcode},#{suburbname})
	</insert>

	<insert id="saveBulkPostalcode">
		INSERT INTO postalcode
		(postalcode,suburbname)
		values
		<foreach collection="list" item="item" separator=",">
			(#{item.postalcode}, #{item.suburbname})
		</foreach>
	</insert>


</mapper>